body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: url('{{ site.baseurl }}/assets/images/wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
}

.desktop {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: flex-end;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    /* padding: 5px 10px; */
    box-sizing: border-box;
}

.social-icons {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.social-icons li {
    display: flex;
    align-items: center;
}

.social-icons li a {
    display: flex;
    align-items: center;
    padding: 6px;
    margin: 3px;
    transition: 0.3s;
}

.social-icons li a svg {
    width: 18px;
    fill: white;
}

.social-icons li a:hover {
    transform: scale(1.2) translateY(-10%);
}

.date-time {
    font-size: 1.1em;
    margin-right: 8px;
    user-select: none;
    color: white;
}

.dock {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 5px;
    margin: 0 auto 10px;
    backdrop-filter: blur(10px);
}

.dock-item {
    position: relative;
    margin: 0 6px;
    transition: transform 0.2s ease-in-out;
}

.dock-item img {
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease-in-out;
}


/* .dock-item img:hover {
    transform: scale(1.5);
} */

.files {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 40px; 
    right: 20px; 
    
}


.file {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.file img {
    width: 65px;
    height: 65px;
}

.file span {
    color: white;
    margin-top: 3px;
    font-size: 12px;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
